---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import Product from '../components/Product.astro';
import Footer from '../components/Footer.astro';

const weekDay: number = new Date().getDay();
const hour: number = new Date().getHours();
---

<Layout title="Divino Mocotó">
	<div class="container">
		<img
			src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Fcdn.darede.net%2Ffotos%2F2014%2F08%2Fdobradinha-com-mocot%25C3%25B3-11.jpg&f=1&nofb=1"
			alt="mocotó" class="mocoto"
		>
	
		<img src="public/logo.jpg" alt="logo" class="logo">
	
		<>
			{weekDay === 0 && (hour >= 9 && hour < 15) ? <h1 style="color: #00ff00;" class="open">Aberto agora</h1> : <h1 style="color: #ff0000;" class="open">Fechado agora</h1>}
		</>
	</div>

	<nav>
		<ul>
			<NavLink href="/" name="Mocotó" />
			<NavLink href="/" name="Porções"/>
		</ul>
	</nav>
	
	<h1>Divino Mocotó</h1>

	<main class="products">
		<div id="mocoto">
			<Product name="Marmitinha" price="23,00" src="https://web.whatsapp.com/d24910c1-ec5c-4b6f-ad53-9a090fcdcca0" description="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Pequeno" price="40,00" src="https://web.whatsapp.com/727e6887-fd04-44ab-8a73-1e94e3eddb89" description="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Médio" price="50,00" src="https://web.whatsapp.com/ab5f7250-f4eb-40ff-8d72-c7a55f57ac84" description="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Completo" price="64,00" src="https://web.whatsapp.com/8b3496fd-dfb0-4c82-92eb-c827c9075265" description="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Família" price="99,99" src="https://web.whatsapp.com/41aa1cd6-b00c-42fd-9f6d-f52d9b7f6ebc" description="Lorem Ipsum Dolor Sit Amenit"/>
		</div>
		<div id="porcoes">
			<Product name="Porção só Mocotó de 500g" price="45,00" src="https://web.whatsapp.com/bffd9f2d-05c3-4733-8aff-214427783c58" description="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Porção só Mocotó de 700g" price="55,00" src="https://web.whatsapp.com/bffd9f2d-05c3-4733-8aff-214427783c58" description="Lorem Ipsum Dolor Sit Amenit"/>
		</div>
		<div id="bebidas">
			<Product name="Guaraná Jesus lata de 350ml" price="5,00" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.CGeMzSadn3OmnKgs--fnxQHaHa%26pid%3DApi&f=1" description="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Coca-Cola lata de 350ml" price="5,00" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.lhfgqxlNwevykTJLCnSqhAHaHa%26pid%3DApi&f=1" description="Lorem Ipsum Dolor Sit Amenit"/>
		</div>
	</main>

	<Footer />
</Layout>

<style lang="scss">
	    .container {
 	    	position: relative;
    		text-align: center;
        	color: #F0E0D0;
			
			img.mocoto {
				width: 100%;
				height: 25pc;
			}

			img.logo {
				width: 9pc;
				height: 9pc;
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.open {
				position: absolute;
				bottom: -1pc;
				left: 50%;
				transform: translate(-50%, 0);
	
				h1 {
					text-shadow: 4px 3px 3px black;
					font-size: 2.5em;
				}
			}
		}

		nav {
			overflow: hidden;
			z-index: 10;
        	background-color: #555;
			opacity: 0.99;
			position: sticky;
			top: 0;
			-webkit-backdrop-filter: blur(3px);
			backdrop-filter: blur(3px);

        	ul {
	            float: left;
            	display: block;
        	    text-align: center;
    	        list-style: none;
	            margin: 0;
			}
		}

		.products {
			display: flex;
			flex-direction: column;
		}
</style>