---
import Layout from '../layouts/Layout.astro';
import NavLink from '../components/NavLink.astro';
import Product from '../components/Product.astro';
import Footer from '../components/Footer.astro';

const weekDay: number = new Date().getDay();
const hour: number = new Date().getHours();
---

<Layout title="Divino Mocotó">
	<div class="container">
		<img
			src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Fcdn.darede.net%2Ffotos%2F2014%2F08%2Fdobradinha-com-mocot%25C3%25B3-11.jpg&f=1&nofb=1"
			alt="mocotó" class="mocoto"
		>
	
		<img src="public/logo.jpg" alt="logo" class="logo">
	
		<>
			{weekDay === 0 && (hour >= 9 && hour < 15) ? <h1 style="color: #00ff00;" class="open">Aberto agora</h1> : <h1 style="color: #ff0000;" class="open">Fechado agora</h1>}
		</>
	</div>

	<nav>
		<ul>
			<NavLink href="/" name="Mocotó" />
			<NavLink href="/" name="Porções"/>
		</ul>
	</nav>
	
	<h1>Divino Mocotó</h1>

	<main class="products">
		<table>
			<tr>
				<th>Nome</th>
				<th>Preço</th>
				<th>Descrição</th>
			</tr>
			<Product name="Marmitinha" price="23,00" src="blob:https://web.whatsapp.com/1fad49f8-df4e-40e3-ab39-84ec2afa4284" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Pequeno" price="40,00" src="blob:https://web.whatsapp.com/1e56a837-2b9b-43c7-b525-a6c5cde4b43e" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Médio" price="50,00" src="blob:https://web.whatsapp.com/7931ccc8-ba00-4f23-b482-22740ba1cdee" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Completo" price="64,00" src="blob:https://web.whatsapp.com/266c0d6b-02fd-42d4-b78b-d7a4243b9b68" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Mocotó Família" price="99,99" src="blob:https://web.whatsapp.com/3b74ea26-1525-4e26-98b0-619caf1547f0" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Porção só Mocotó de 500g" price="45,00" src="blob:https://web.whatsapp.com/7f61d07a-c675-421c-b2e1-9d8f4cb9831d" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Porção só Mocotó de 700g" price="55,00" src="blob:https://web.whatsapp.com/7f61d07a-c675-421c-b2e1-9d8f4cb9831d" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Guaraná Jesus lata de 350ml" price="5,00" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.CGeMzSadn3OmnKgs--fnxQHaHa%26pid%3DApi&f=1" desc="Lorem Ipsum Dolor Sit Amenit"/>
			<Product name="Coca-Cola lata de 350ml" price="5,00" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.lhfgqxlNwevykTJLCnSqhAHaHa%26pid%3DApi&f=1" desc="Lorem Ipsum Dolor Sit Amenit"/>
		</table>
	</main>

	<Footer />
</Layout>

<style lang="scss">
	    .container {
 	    	position: relative;
    		text-align: center;
        	color: #F0E0D0;
			
			img.mocoto {
				width: 100%;
				height: 25pc;
			}

			img.logo {
				width: 9pc;
				height: 9pc;
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.open {
				position: absolute;
				bottom: -1pc;
				left: 50%;
				transform: translate(-50%, 0);
	
				h1 {
					text-shadow: 4px 3px 3px black;
					font-size: 2.5em;
				}
			}
		}

		nav {
			overflow: hidden;
			z-index: 10;
        	background-color: #555;
			opacity: 0.99;
			position: sticky;
			top: 0;
			-webkit-backdrop-filter: blur(3px);
			backdrop-filter: blur(3px);

        	ul {
	            float: left;
            	display: block;
        	    text-align: center;
    	        list-style: none;
	            margin: 0;
			}
		}

		.products {
			
		}
</style>