---
export interface Props {
    name: string,
    price: string,
    desc: string,
    src: string,
}

const {name, price, desc, src} = Astro.props as Props;
---

<tr>
    <td class="name">{name}</td>
    <td class="price">{price}</td>
    <td class="description">{desc}</td>
    <td class="image">{src}</td>
</tr>

<style lang="scss">
    td.name {
        font-size: 1.25rem;
    }
    
    td.price {
        font-size: 1.25rem;
    }
    
    td.desc {
        font-size: 1.25rem;
    }
    
    td.src {
        font-size: 1.25rem;
    }
</style>