---
export interface Props {
    name: string,
    price: string,
    src: string,
    description: string,
}

const {name, price, src, description} = Astro.props as Props;
---

<div class="products">
    <div class="coisas">
        <h2>{name}</h2>
        <hr>
        <h3>R${price}</h3>
        <p>{description}</p>
    </div>
    <img src={src} alt="Imagem da Comida">
</div>

<style lang="scss">
    .products {
        background-color: rgb(226, 226, 226);
        padding-bottom: 5pc;
        
        .coisas {
            width: 75%;
            float: left;
        }

        img {
            width: 25%;
            height: 25%;
            float: right;
        }
    }
</style>